*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
}


///Всплывающий блок звонка/////////////////////////////////////////////////
.header__zvonok{
    position: fixed;
    width: 100%;
    height: 100%;
    
    display: none;
    left: 0;
    top: 0;
    z-index: 500;
    background: rgba(255, 255, 255, 0.8);
}
.zvonok__wrapper{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 3% 0;
    padding-left: 2%;
    margin-top: 10%;
    position: relative;

    border-radius: 50px;
    background-color: #00A3E1;
}
.zvonok__wrapper-h1{
    width: 100%;
    font-family: 'skalalend';
    font-size: 50px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-shadow: 
    -0   -.5px 0   #FFFFFF,
    0   -.5px 0   #FFFFFF,
    -0    .5px 0   #FFFFFF,
    0    .5px 0   #FFFFFF,
    -.5px -0   0  #FFFFFF,
    .5px -0   0  #FFFFFF,
    -.5px  0   0  #FFFFFF,
    .5px  0   0   #FFFFFF,
    4px 4px 2px rgba(0, 0, 0, 0.25);
}
.zvonok__wrapper-line{
    width: 65%;
    height: 0;
    margin: 3% 0;

    border: 3px solid #FFFFFF;
}
.zvonok__wrapper-h2{
    width: 70%;
    font-family: 'skalalend';
    font-size: 45px;
    line-height: 55px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.zvonok__wrapper form{
    z-index: 8;
    position: relative;
}
.zvonok__input{
    margin-top: 5%;
    background: none;
    color: #111111;
    font-size: 50px;
    width: 60%;

    z-index: 8;
    padding-left: 2%;
}
.zvonok__input:focus{
    outline: none;
}
.zvonok__wrapper-fon{
    position: absolute;
    bottom: 5%;
    width: 60%;
    border-bottom: 105px solid #FFFFFF;
    border-right: 100px solid transparent;

    z-index: 1;
}
.zvonok__but{
    position: absolute;
    right: 5%;
    bottom: 5%;

    border-radius: 50px;
    border: 3px solid  #fff;
    background: none;
    z-index: 10;
    transition: all .2s linear;

    padding: 3% 3%;
}
.zvonok__but a{
    padding: 25% 0;

    font-family: 'skalalend';
    font-size: 45px;
    text-transform: uppercase;

    text-decoration: none;
    color: #fff;
}
.zvonok__but a:hover{
    text-decoration: none;
    color: #00A3E1;
    padding: 25% 0;
}
.zvonok__but:hover{
    padding: 4% 4%;
    right: 4%;
    bottom: 3%;
    color: #00A3E1;
    background: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.zvonok__logo{
    position: absolute;
    right: 10%;
    bottom: 45%;

    width: 130px;
    height: 130px;

    background-color: #FFFFFF;
}
.zvonok__logo img{
    width: 95%;
    height: 90%;
    margin: 5% 2.5%;
}
.zvonok__crest{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 10;
    opacity: .7;

    width: 50px;
    height: 50px;
}
.zvonok__crest:hover{
    cursor: pointer;
    opacity: .5;
}
////////////////////////////////////////////////////////////////////////////////////

//Всплывающий блок оплаты//////////////////////////////////////////////////////////
.header__oplata{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    background: rgba(255, 255, 255, 0.99);
}
.oplata-wrapper{
    width: 100%;
    height: 100%;


    display: flex;
    flex-direction: column;
}
.oplata-wrapper h1{
    padding-top: 2%;

    font-family: 'Skalalend';
    font-size: 50px;
    font-weight: bold;

    text-transform: uppercase;
    text-align: center;
}
.oplata-wrapper span{
    width: 20%;
    height: 0;
    margin: 1% auto;

    border: 1px solid #111111;
}
.oplata-wrapper form{
    width: 100%;
    margin: 5% 0;

    display: flex;
    flex-direction: column;
}
.oplata-wrapper input{
    width: 50%;
    font-family: 'Skalalend';
    font-size: 20px;

    padding: 1%;
    margin: 1% auto;

    border: 0.5px solid #1111119c;
}
.oplata-wrapper select{
    width: 50%;
    font-family: 'Skalalend';
    font-size: 20px;

    padding: 1%;
    margin: 1% auto;
    

    border: 0.5px solid #1111119c;
}
.oplata-wrapper button{
    width: 20%;

    font-family: 'Skalalend';
    font-size: 30px;
    margin: 0 auto;
    padding: 1%;

    text-transform: uppercase;

    background: none;
    border: 1px solid #111111;
    color: #111111;
    transition: all linear .5s;
}
.oplata-wrapper button:hover{
    width: 21%;
    
    font-size: 32px;
    border: 2px solid #111111;
    border-radius: 50px;
    cursor: pointer;
}
/////////////////////////////////////////////////////////////////////////////////

//Всплывающий блок обратной связи///////////////////////////////////////////////
.header__email{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    background: rgba(255, 255, 255, 0.99);
}
/////////////////////////////////////////////////////////////////////////////////

//Всплывающий блок выбора центра/////////////////////////////////////////////////
.header__vubor{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    font-family: 'skalalend';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;

    background-color: #ffffffcc;
    text-align: center;
    align-content: center;
}
.vuborh1{
    width: 100%;
    height: 10%;
    padding: 3% 0;
    margin-bottom: 2%;

    text-transform: uppercase;
}
.vubor-href{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
}
.vubor-href a{
    width: 50%;

    padding: 1% 5%;
    margin: 0 auto;
    margin-bottom: 2%;
    font-size: 25px;

    text-decoration: none;
    text-transform: uppercase;
    background-color: #3B1D6B;
    border-radius: 50px;
    color: #FFFFFF;
    transition: all linear .5s;
}
.vubor-href a:hover{
    width: 55%;
    background-color: #fff;
    border: 3px solid #3B1D6B;
    color: #3B1D6B;
}
.vubor-button{
    margin-top: 2%;
}
.vubor-button a{
    font-family: 'skalalend';
    font-size: 25px;
    text-transform: uppercase;
    padding: 1% 3%;

    border-radius: 50px;
    background-color: #fff;
    border: 3px solid #3B1D6B;
    color: #3B1D6B;

    transition: all linear .5s;
    text-decoration: none;
}
.vubor-button a:hover{
    background-color: #3B1D6B;
    color: #FFF;
    padding: 1% 4%;
    cursor: pointer;
}
.vubor-crest{
    position: absolute;
    top:3%;
    right: 5%;

    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: transparent;
    transition: all linear .5s;
}
.vubor-crest:hover{
    cursor: pointer;
    box-shadow: 0px 0px 7px 4px rgba(80, 77, 146, 0.25);
}
.vubor-crest img{
    width: 100%;
    padding: 5%;
}
//////////////////////////////////////////////////////////////////

//Основное меню//////////////////////////////////////////////////
.header{
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: column;
}
.header__button{
    width: 70%;
    height: 13%;
    margin: 0 auto;
    margin-bottom: 20%;
    position: relative;

    background: rgba(84, 134, 76, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s linear;
    transition: translate 0.3s linear;
    transition: opacity 0.3s linear;
}
.header__button img{
    width: 100%;
    padding: 3%;
    opacity: .9;
    z-index: 1;
}
.header__buttonplog{
    margin-top: -20%;
    width: 100%;
    height: 100%;
    padding: 0 1%;
    font-family: 'skalalend';
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #111111;
    text-align: center;
    text-transform: uppercase;
}
.header__buttonp{
    margin-top: -6%;
    width: 100%;
    height: 100%;
    font-family: 'skalalend';
    font-size: 18px;
    color: #111111;
    text-align: center;
}
.header__button a{
    padding-top: 100%;
    z-index: 20;
    text-decoration: none;
    color: #111111;
}
.header__button:hover{
    opacity: 0.6;
    cursor: pointer;
}
.header__button:active{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translate(3px,3px);
    opacity: 1;
}
.header__burger{
    width: 100%;
    height: 100%;
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    z-index:10;

    background: #FFFFFF;
}
.header__burger-container{
    width: 100%;
    height: 50%;
    position: relative;
    top: 50%;
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger-line{
    width: 80%;
    height: 0;
    margin: 0 auto;
    margin-bottom: 8%;
    border: 10px solid #00638a;
    border-radius: 20px;
}
//////////////////////////////////////////////////////////////////////////

//Основное меню (мобильный телефон)//////////////////////////////////////
.cloned__menu{
    position: absolute;
    display: none;
    width: 90%;
    height: 100%;
    top:0;
    left: 10%;
    z-index: 50;

    background: rgba(255, 255, 255, 0.8);
}
.cloned__show{
    position: fixed;
    width: 90%;
    height: 100%;
    top:0;
    left: 10%;
    z-index: 50;
    display: block;

    background: rgba(255, 255, 255, 0.8);
}
.cloned__logo{
    width: 100%;
    height: 15%;
    transition: opacity .3s linear;
}
.cloned__logo:hover{
    opacity: .5;
}
.cloned__logo img {
    width: 30%;
    margin: 5%;
}
.cloned__button{
    width: 70%;
    height: 13%;
    margin: 0 auto;
    margin-bottom: 20%;
    position: relative;

    background: rgba(84, 134, 76, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s linear;
    transition: translate 0.3s linear;
    transition: opacity 0.3s linear;
}
.cloned__buttonp{
    position: relative;
    width: 30%;
    text-align: center;
    
    font-family: 'Impact';
    font-size: 15px;
    color: #6E7097;

    text-shadow: 
    -0   -1px 0   #3B1D6B,
    0   -1px 0   #3B1D6B,
    -0    1px 0   #3B1D6B,
    0    1px 0   #3B1D6B,
    -1px -0   0  #3B1D6B,
    1px -0   0  #3B1D6B,
    -1px  0   0  #3B1D6B,
    1px  0   0   #3B1D6B,
}
.cloned__buttonp a{
    text-decoration: none;
    padding-left: -50px;
    color: #6E7097;
}
.cloned__button:hover{
    opacity: 0.6;
    cursor: pointer;
}
.cloned__button:active{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translate(3px,3px);
    opacity: 1;
}
//////////////////////////////////////////////////////////////////////////////////////////

//Основной контент страницы//////////////////////////////////////////////////////////////////////
.content{
    width: 90%;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    background-color: #00A3E1;
}
.vertical-scrolling{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    z-index: 1;
}
.vertical-scrolling img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}

////////////////////////////Заглавная страница////////////////////////////////////////////////////////////////
.face__fon{
    display: none;
    opacity: 0;
}
.face{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
}
.face__h1{
    z-index: 2;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;

    background: rgba(255, 255, 255, .95);
}
.face__h1txt{
    width: 40%;
    height: 100%;
}
.face__h1phone{
    width: 25%;
    height: 100%;
}
.face__h1phone p{
    width: 100%;
    margin-left: 15%;
    margin-top: 25%;

    font-family: 'skalalend';
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;

    color: #111111;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.face__h1phone span{
    font-size: 35px;
    color: #111111;
}
.face__h1txt p{
    width: 100%;
    margin-top: 7%;
    margin-left: 5%;
    font-family: 'skalalend';
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;

    color: #111111;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.face__h1txt span{
    color: #111111;
    font-size: 40px;
}
.face__h1logo{
    width: 30%;
    height: 100%;

}
.face__h1logo img{
    position: relative;
    width: 60%;
    height: 75%;
    margin-left: 35%;
    margin-top: 5%;
}
.face__h2{
    width: 60%;
    z-index: 3;

}
.face__h2 p{
    position: relative;
    font-family: 'skalalend';
    font-size: 25px;
    line-height: 30px;

    margin-left: 4%;
    margin-top: 1.6%;
    color: #111111;
    z-index: 3;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.face__h2f{
    position: absolute;
    width: 50%;
    border-bottom: 75px solid rgba(255, 255, 255, 0.95);
    border-right: 60px solid transparent;
    transform: scale(1,-1);
    margin-top: -2.75%;
    z-index: 1;
}
//СЛАЙДЕР//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.face__slaider{
    width: 70%;
    height: 70%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    z-index: 3;
}
.slaider__prew{
    width: 5%;
    height: 100%;
    position: relative;
}
.slaider__prew img{
    width: 100%;
    height: 10%;
    top: 35%;

    transition: height .3s linear;
    transition: top .3s linear;
}
.slaider__next{
    width: 5%;
    height: 100%;
    position: relative;
}
.slaider__next img{
    width: 100%;
    height: 10%;
    top: 35%;
    transform: scale(-1,1);
    transition: height .3s linear;
    transition: top .3s linear;
}
.slaider__prew img:hover{
    opacity: .8;
    height: 10%;
    top: 35%;

    cursor: pointer;
}
.slaider__next img:hover{
    opacity: .8;
    height: 10%;
    top: 35%;

    cursor: pointer;
}

.slaider__content{
    width: 90%;
    height: 80%;
    position: relative;

    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    display: none;
}
.slaider__content  img{
    width: 100%;
    height: 100%;
    padding: 2% 10%;

    border-radius: 50px;
}
.slaider__dot{

    width: 10%;

    position: absolute;

    bottom: 1%;
    left: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sldot {
    cursor: pointer;
    display: none;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    background: #FFD507;
    border: 2px solid #AC9D55;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.sldot:hover {
    background: #FFE568;
    border: 2px solid #AC9D55;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    height: 32px;
    width: 32px;
}
.sldot-active{
    
        background: #FFE568;
        border: 2px solid #AC9D55;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
        height: 32px;
        width: 32px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.face__social{
    width: 15%;
    height: 7%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    bottom: 1%;
    right: 1%;
    z-index: 3;
}
.face__line{
    width: 30%;
    height: 0;

    position: absolute;
    left: 2%;
    top: 24%;
    z-index: 3;

    border: 1px solid #111111;
    border-radius: 10px;
}
.social{
    width: 25%;
    height: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(164, 155, 155, 0.6);
    border-radius: 10px;
}
.social  img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5%;
}
.social:hover{
    opacity: .8;
}

////////////////////////////О Центре////////////////////////////////////////////////////////////////////////////
.about{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
}
.about img{
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.about__h1{
    width: 100%;
    height: 20%;
    z-index: 3;
}
.about__h1txt{
    width:100%;
    height: 10%;

    font-family: 'skalalend';
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    text-transform: uppercase;

    color: #111111;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.about__h1txt p{
    width: 60%;
    position: absolute;
    right: 1%;
    z-index: 2;
    margin-top: 2%;
}
.about__h1txt span{
    color: #111111;
    font-size: 40px;
}
.about__h1txtf{
    position: absolute;
    right: 0;
    z-index: 1;

    width: 65%;
    border-bottom: 250px solid rgba(255, 255, 255, 0.95);
    border-left: 100px solid transparent;
    transform: scale(1,-1);
}
.about__h2{
    width: 100%;
    height: 60%;
    margin-top: 5%;

    display: flex;
    flex-direction: row;
    z-index: 3;
    justify-content: space-between;
}
.about__slaider{
    width: 60%;
    height: 100%;
}
//Слайдер второй............./////////////////////////////////////////////
.swiper-container {
    width: 70%;
    height: 90%;
    margin-left: 5%;

    border-radius: 48px;
}
.swiper-wrapper{
    width: 432px;
    height: 293px;
}
.swiper-slide {
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 48px;
    position: relative;
}
.swiper-slide img{
    width: 90%;
    height: 85%;
    margin: 5%;

    border-radius: 50px;
}
//////////////////////////////////////////////////////////////////////////
.about__h2txt{
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;


    font-family: 'skalalend';
    font-size: 30px;
    line-height: 45px;

    color: #111111;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.about__h2txt span{
    font-size: 30px;
    color: #111111;
}
.about__h2tx1{
    z-index: 3;
    width: 80%;
    margin-left: 15%;
}
.about__h2tx2{
    z-index: 3;
    width: 80%;
    margin-top: 5%;
    margin-left: 15%;
    text-align: right;
}
.about__h2txl{
    width: 90%;
    height: 0;
    border: 2px solid #111111;
    z-index: 3;
    margin-top: 5%;
    margin-left: 15%;
}
.about__h2txf{
    width: 100%;
    z-index: 1;
    border-bottom: 657px solid rgba(255, 255, 255, 0.95);
    border-left: 100px solid transparent;
    transform: scale(1,-1);

    position: absolute;
    right: 0;
    margin-top: -5.0%;

}
.about__h3{
    width: 100%;
    height: 10%;
    z-index: 3;
    margin-top: 1%;

    background-color: rgba(255, 255, 255, 0.95);
}
.about__h3txt{
    padding-left: 3%;
    padding-top: 1%;
    font-family: 'skalalend';
    font-size: 40px;
    line-height: 49px;

    color: #111111;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.about__h3 span{
    font-size: 40px;
    color: #111111;
}

/////////////////////////////Активности////////////////////////////////////////////////////////////////////////
.acktiv{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
}
.acktiv img{
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.acktiv__h1{
    width: 100%;
    height: 20%;
    z-index: 2;
    text-transform: uppercase;
}
.acktiv__h1f{
    width: 90%;
    border-bottom: 200px solid rgba(255, 255, 255, 0.95);
    border-left: 400px solid transparent;
    transform: scale(1,-1);

    position: absolute;
    top: 0;
    right: 0;

    z-index: 1;
}
.acktiv__h1 p{
    margin-top: 1%;
    margin-right: 3%;
    font-family: 'skalalend';
    font-size: 35px;
    line-height: 40px;
    z-index: 2;
    position: relative;

    color: #111111;
    text-align: right;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.acktiv__h1 span{
    font-size: 35px;
    color: #111111;
}
.acktiv__slaider{
    width: 80%;
    height: 80%;
    z-index: 2;
    margin: 0 auto;
    margin-top: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
}
.acktiv__slaider2{
    width: 80%;
    height: 80%;
    z-index: 2;
    margin: 0 auto;
    margin-top: 5%;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
}

.aslaid{
    width: 20%;
    height: 370px;
    position: relative;
    display: flex;
    flex-direction: column;
    outline: none;

    background: rgba(253, 253, 253, 0.95);
    border-radius: 30px;
}


.aslaid__img{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;

    
}
.aslaid__img img{
    width: 100%;
    height: 100%;
    padding: 5%;
    border-radius: 43px;
}

.aslaid p{

    height: 10%;
    margin-top: 5%;

    text-align: center;
    font-family: 'skalalend';
    font-size: 27px;

    color: #111111;
    text-transform: uppercase;
}
.aslaid span{
    color: #111111;
    font-size: 27px;
}

.aslaid__btn{
    width: 75%;

    margin: 0 auto;
    margin-top: 15%;

    font-family: 'skalalend';
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 3% 0%;
    
    color: #111111;
    border: 1px solid #111111;
    transition: all 0.3s linear;
}
.aslaid__btn a{
    text-decoration: none;
    color: #111111;
    padding: 3% 0;
}
.aslaid__btn:hover{
    width: 80%;

    margin-top: 13%;
    font-size: 32px;
    padding: 4% 0;
    border-radius: 50px;
    cursor: pointer;
}
.aslaid__btn a:focus{
    outline: none;
}

////////////////////////////////////////////////Праздники//////////////////////////////////////////////////////
.prais{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;

    background: rgba(253, 253, 253, 0.7);
}
.prais h1{
    width: 100%;
    height: 5%;

    text-align: left;

    font-family: 'Skalalend';
    font-size: 50px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;

    padding: 1% 2%;
}
.prais span{
    width: 30%;
    height: 0;

    border: 1px solid #111111;

    margin: 3% 2%;
}
.prais-slider{
    width: 100%;
    height: 500px;

    background: rgba(253, 253, 253, 0.9);
}
.pslide{
    width: 100%;
    height: 500px;

    display: block;
    border-radius: 0px;
    background: transparent;
}
.pslide:focus{
    outline: none;
}
.pslide:active{
    outline: none;
}
.prais-posesh{
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prais-posesh h1{
    padding: 1% 5%;
    margin: 5% 0;


    font-size: 30px;
    line-height: 35px;
}
.prais-posesh h2{
    padding: 1% 5%;

    font-family: 'skalalend';
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}
.prais-posesh span{
    width: 10%;

    position: relative;
    left: 5%;
}
.prais-posesh-1{
    width: 33%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: left;
}
.prais-posesh-but{
    width: 33%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
.prais-posesh-but h1{
    text-align: center;
    margin-bottom: 5%;
}
.prais-posesh-but button{
    width: 70%;

    margin: 15% auto;
    padding: 1% 3%;

    font-family: 'skalalend';
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    border: 1px solid #111111;
    background: transparent;

    transition: all linear .5s;
}
.prais-posesh-but button:hover{
    width: 73%;
    font-size: 33px;
    line-height: 38px;
    margin: 14% auto;
    padding: 2% 4%;

    border-radius: 50px;
    background: rgba(253, 253, 253, 0.9);
    cursor: pointer;
}
.prais-posesh-but button:focus{
    outline: none;
}
.prais-posesh-but button:active{
    outline: none;
}
.prais-posesh-2{
    width: 33%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: right;
}
.prais-posesh-2 h1{
    text-align: right;
}
.prais-posesh-2 span{
    position: relative;
    left: 80%;
}

////////////////////////////////////////////////////Контакты///////////////////////////////////////////////////
.kontakts{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;
}
.kontakts img{
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.kontakts__h1{
    z-index: 2;

    width: 100%;
    height: 25%;
    font-family: 'skalalend';
    font-size: 70px;
    line-height: 86px;
    padding: 1% 3%;

    color: #111111;

    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    background-color:rgba(255, 255, 255, 0.95);
}
.kontakts__h1 span{
    font-size: 75px;
    color: #111111;
}
.kontakst__block{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;

    z-index: 3;
}
.kontakts__text{
    width: 40%;
    height: 80%;
    padding-left: 3%;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;

    color: #111111;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);

}
.kontakts__text p{
    margin-top: 3%;
    margin-bottom: 3%;
    z-index: 2;
}
.kontakts__text span{
    color: #111111;
    font-weight: normal;
    font-size: 35px;
}
.kontakts__call{
    width: 65%;
    margin:  0 auto;
    padding: 2% 0;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    text-align: center;

    color: #111111;
    background-color: transparent;

    border: 1px solid #111111;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
    z-index: 2;
    transition: all .3s linear;
}
.kontakts__call:hover{
    padding: 3% 0;
    width: 67%;

    border-radius: 50px;
    cursor: pointer;
    background-color: none;
}
.kontakts__call a{
    text-decoration: none;
    padding: 10% 0;
    color: #111111;
}

.kontakts__tetxf{
    width: 40%;
    height: 80%;
    top: 25%;
    left: 0;

    position: absolute;

    z-index: 1;
    background-color:rgba(255, 255, 255, 0.95);
}
.kontakts__map{
    width: 60%;
    height: 80%;
    z-index: 3;

    display: flex;
    flex-direction: column;
}
.map__social{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
}
.socialmap{
    width: 10%;
    height: 40%;
    margin-top: 3%;
    margin-left: 88%;

    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    transition: all .1s linear;
}
.socialmap img{
    width: 80%;
    height: 85%;
    margin-left: 10%;
    margin-top: 7%;
    transition:  opacity .3s linear;
}
.socialmap:hover{
    background-color: rgba(255, 255, 255, 0.98);
}
.socialmap img:hover{
    opacity: .5;
}
.map__map{
    width: 100%;
    height: 40%;
    display: flex;
}
.map__block{
    width: 90%;
    height: 300px;
    margin-top: 5%;
    margin-left: 8%;
    position: relative;
    overflow: hidden;


    border-radius: 55px;
    border: 5px solid #111111;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}




//////Вспомогательный блок/////////
.show{
    position: absolute;
    width: 100%;
    height: 100%;

    display: block;
    left: 0;
    top: 0;
    z-index: 500;
    background: rgba(255, 255, 255, 0.8);
}