//Адаптив////////////////////////////////////////////////////////////////////////////////////////////////////
@media(max-width:1600px){
    .parallax__mount2{
        left: -15%;
    }
    .parallax__mount1{
        right: -40%;
    }
//Холм левый/////////////////////////////////////
    .parallax__hill1 img{
        width: 1697px;
        height: 350px;
    }
//Холм правый/////////////////////////////////////
    .parallax__hill2{
        right: -10%;
    }
    .parallax__hill2 img{
        width: 949px;
        height: 356px;
    }
//Лес левый/////////////////////////////////////
    .parallax__forest1{
        left: 50%;
    }
    .parallax__forest1 img{
        width: 502px;
        height: 602px;
    }
//Лес правый/////////////////////////////////////
    .parallax__forest2{
        right: 0%;
    }
    .parallax__forest2 img{
        width: 440px;
        height: 275px;
    }
    @keyframes forest2{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -5%;
        }
        100%{
            opacity: 1;
            bottom: 9%;
        }
    }
//Доска основа/////////////////////////////////////
    .parallax__longboard{
        left: 11%;
    }
    @keyframes longbord{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -55%;
        }
        100%{
            opacity: 1;
            bottom: -30%;
        }
    }
//Доска Город1/////////////////////////////////////
    .parallax__plant1{
        left: 18.5%;
    }
    @keyframes plant1{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 30%;
        }
    }
    .parallax__plant1h{
        left: 18.5%;
        top: 30%;
    }
//Доска Город2/////////////////////////////////////
    .parallax__plant2{
        left: 18.5%;
    }
    @keyframes plant2{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 42%;
        }
    }
    .parallax__plant2h{
        left: 18.5%;
        top: 42%;
    }
//Доска Город3/////////////////////////////////////
    .parallax__plant3{
        left: 18.5%;
    }
    @keyframes plant3{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 54%;
        }
    }
    .parallax__plant3h{
        left: 18.5%;
        top: 54%;
    }
//Доска Город4/////////////////////////////////////
.parallax__plant4{
    left: 18.5%;
    top: 65%;
}
.parallax__plant4h{
    top: 65%;
    left: 18.5%;
}
@keyframes plant4{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 65%;
    }
}
//Доска Город5/////////////////////////////////////
.parallax__plant5{
    top: 76%;
    left: 18.5%;
}
.parallax__plant5h{
    top: 76%;
    left: 18.5%;
}
@keyframes plant5{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 76%;
    }
}
    @keyframes planthov{
        0%{
            left: 18.5%;
            opacity: 1;
    
        }
        100%{
            left: 18.2%;
            opacity: 1;
        }
    }


//Выбор Города//////////////////////////////////////////
    .tc__name{
        font-size: 45px;
    }
    .tc1 {
        height: 90px;
        top: 15%;
    }
    .tc1 a{
        top: 15%;
        font-size: 35px;
    }
    .tc1ch {
        height: 90px;
        top: 15%;
    }
    .tc1ch a{
        top: 15%;
        font-size: 35px;
    }
    .tc1ya {
        height: 90px;
        top: 15%;
    }
    .tc1ya a{
        top: 15%;
        font-size: 35px;
    }
    .tc2 {
        height: 90px;
        top: 27%;
    }
    .tc2 a{
        top: 15%;
        font-size: 35px;
    }
    .tc2ch {
        height: 90px;
        top: 27%;
    }
    .tc2ch a{
        top: 15%;
        font-size: 35px;
    }
    .tc3 {
        height: 90px;
        top: 39%;
    }
    .tc3 a{
        top: 15%;
        font-size: 35px;
    }
    .tc4 {
        width: 85%;
        height: 90px;
        top: 51%;
    }
    .tc4 a{
        top: 15%;
        font-size: 35px;
    }
    .tc5 {
        width: 87%;
        height: 90px;
        top: 63%;
    }
    .tc5 a{
        top: 15%;
        font-size: 35px;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@media(max-width:1440px){
    .parallax__mount2{
        position: absolute;
        top: 5%;
        left: -30%;
        z-index: 1;
        opacity: 0;
        animation: mount2 2s ease 0.5s forwards;
    }
    .parallax__mount2 img{
        width: 1474px;
        height: 870px;
    }

    .parallax__mount1{
        position: absolute;
        bottom: 0%;
        right: -40%;
        z-index: 1;
        opacity: 0;
        animation: mount1 2s ease 0.5s forwards;
    }
    .parallax__mount1 img{
        width: 2041px;
        height: 1174px;
    }
//Холм левый/////////////////////////////////////
    .parallax__hill1 img{
        width: 1697px;
        height: 350px;
    }
//Холм правый/////////////////////////////////////
    .parallax__hill2{
        right: -10%;
    }
    .parallax__hill2 img{
        width: 949px;
        height: 356px;
    }
//Лес левый/////////////////////////////////////
    .parallax__forest1{
        left: 50%;
    }
    .parallax__forest1 img{
        width: 502px;
        height: 602px;
    }
//Лес правый/////////////////////////////////////
    .parallax__forest2{
        right: 0%;
    }
    .parallax__forest2 img{
        width: 440px;
        height: 275px;
    }
    @keyframes forest2{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -5%;
        }
        100%{
            opacity: 1;
            bottom: 9%;
        }
    }
//Доска основа/////////////////////////////////////
    .parallax__longboard{
        left: 11%;
    }
    @keyframes longbord{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -35%;
        }
        100%{
            opacity: 1;
            bottom: -10%;
        }
    }
//Доска Город1/////////////////////////////////////
    .parallax__plant1{
        left: 19.5%;
    }
    @keyframes plant1{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 27%;
        }
    }
    .parallax__plant1h{
        left: 19.5%;
        top: 27%;
    }
//Доска Город2/////////////////////////////////////
    .parallax__plant2{
        left: 19.5%;
    }
    @keyframes plant2{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 40%;
        }
    }
    .parallax__plant2h{
        left: 19.5%;
        top: 40%;
    }
//Доска Город3/////////////////////////////////////
    .parallax__plant3{
        left: 19.5%;
    }
    @keyframes plant3{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 53%;
        }
    }
    .parallax__plant3h{
        left: 19.5%;
        top: 53%;
    }
//Доска Город4/////////////////////////////////////
.parallax__plant4{
    left: 19.5%;
    top: 65%;
}
.parallax__plant4h{
    top: 65%;
    left: 19.5%;
}
@keyframes plant4{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 65%;
    }
}
//Доска Город5/////////////////////////////////////
.parallax__plant5{
    top: 76%;
    left: 19.5%;
}
.parallax__plant5h{
    top: 76%;
    left: 19.5%;
}
@keyframes plant5{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 76%;
    }
}

    @keyframes planthov{
        0%{
            left: 19.5%;
            opacity: 1;
    
        }
        100%{
            left: 19.2%;
            opacity: 1;
        }
    }
//Выбор Города//////////////////////////////////////////
    .tc__name{
        font-size: 45px;
    }
    .tc1 {
        height: 90px;
        top: 15%;
    }
    .tc1 a{
        top: 15%;
        font-size: 35px;
    }
    .tc1ya {
        height: 90px;
        top: 15%;
    }
    .tc1ya a{
        top: 15%;
        font-size: 35px;
    }
    .tc1ch {
        height: 90px;
        top: 15%;
    }
    .tc1ch a{
        top: 15%;
        font-size: 35px;
    }
    .tc2 {
        height: 90px;
        top: 27%;
    }
    .tc2 a{
        top: 15%;
        font-size: 35px;
    }
    .tc2ch {
        height: 90px;
        top: 27%;
    }
    .tc2ch a{
        top: 15%;
        font-size: 35px;
    }
    .tc3 {
        height: 90px;
        top: 39%;
    }
    .tc3 a{
        top: 15%;
        font-size: 35px;
    }
    .tc4 {
        width: 85%;
        height: 90px;
        top: 51%;
    }
    .tc4 a{
        top: 15%;
        font-size: 35px;
    }
    .tc5 {
        width: 87%;
        height: 90px;
        top: 63%;
    }
    .tc5 a{
        top: 15%;
        font-size: 35px;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@media(max-width:1370px){
    .parallax__mount2 img{
        width: 1233px;
        height: 727px;
    }
    .parallax__mount1 img{
        width: 1613px;
        height: 927px;
    }
//Холм левый/////////////////////////////////////
    .parallax__hill1 img{
        width: 1696px;
        height: 225px;
    }
//Холм правый/////////////////////////////////////
    .parallax__hill2{
        right: -10%;
    }
    .parallax__hill2 img{
        width: 949px;
        height: 278px;
    }
//Лес левый/////////////////////////////////////
    .parallax__forest1{
        left: 55%;
    }
    .parallax__forest1 img{
        width: 353px;
        height: 423px;
    }
//Лес правый/////////////////////////////////////
    .parallax__forest2{
        right: 0%;
    }
    .parallax__forest2 img{
        width: 440px;
        height: 275px;
    }
    @keyframes forest2{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -5%;
        }
        100%{
            opacity: 1;
            bottom: 9%;
        }
    }
//Доска основа/////////////////////////////////////
    .parallax__longboard{
        left: 11%;
    }
    .parallax__longboard img{
        width: 506px;
        height: 860px;
    }
    .parallax__longboard p{
        top: 5%;
        font-size: 40px;
    }
    @keyframes longbord{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -39%;
        }
        100%{
            opacity: 1;
            bottom: -30%;
        }
    }
//Доска Город1/////////////////////////////////////
    .parallax__plant1{
        left: 18.2%;
    }
    .parallax__plant1 img{
        width: 286px;
        height: 68px;
    }
    .parallax__plant1 a {
        left: -75%;
        top: 2%;
        font-size: 40px;
    }
    .parallax__plant1h{
        left: 18.2%;
        top: 27%;
    }
    .parallax__plant1h img{
        width: 286px;
        height: 68px;
    }
    .parallax__plant1h a {
        left: -75%;
        top: 2%;
        font-size: 40px;
    }
    @keyframes plant1{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 27%;
        }
    }
//Доска Город2/////////////////////////////////////
    .parallax__plant2{
        left: 18.2%;
    }
    .parallax__plant2 img{
        width: 286px;
        height: 68px;
    }
    .parallax__plant2 a {
        left: -75%;
        top: 2%;
        font-size: 40px;
    }
    .parallax__plant2h{
        left: 18.2%;
        top: 40%;
    }
    .parallax__plant2h img{
        width: 286px;
        height: 68px;
    }
    .parallax__plant2h a {
        left: -75%;
        top: 2%;
        font-size: 40px;
    }
    @keyframes plant2{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 40%;
        }
    }
//Доска Город3/////////////////////////////////////
    .parallax__plant3{
        left: 18.2%;
    }
    .parallax__plant3 img{
        width: 286px;
        height: 68px;
    }
    .parallax__plant3 a {
        left: -75%;
        top: 2%;
        font-size: 40px;
    }
    .parallax__plant3h{
        left: 18.2%;
        top: 53%;
    }
    .parallax__plant3h img{
        width: 286px;
        height: 68px;
    }
    .parallax__plant3h a {
        left: -75%;
        top: 2%;
        font-size: 40px;
    }
    @keyframes plant3{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 53%;
        }
    }
//Доска Город4/////////////////////////////////////
.parallax__plant4{
    left: 18.5%;
    top: 65%;
}
.parallax__plant4 img{
    width: 286px;
    height: 68px;
}
.parallax__plant4 a {
    left: -75%;
    top: 2%;
    font-size: 40px;
}
.parallax__plant4h{
    top: 65%;
    left: 18.5%;
}
.parallax__plant4h img{
    width: 286px;
    height: 68px;
}
.parallax__plant4h a {
    left: -75%;
    top: 2%;
    font-size: 40px;
}
@keyframes plant4{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 65%;
    }
}
//Доска Город5/////////////////////////////////////
.parallax__plant5{
    top: 77%;
    left: 18.5%;
}
.parallax__plant5 img{
    width: 286px;
    height: 68px;
}
.parallax__plant5 a {
    left: -75%;
    top: 2%;
    font-size: 40px;
}
.parallax__plant5h{
    top: 77%;
    left: 18.5%;
}
.parallax__plant5h img{
    width: 286px;
    height: 68px;
}
.parallax__plant5h a {
    left: -75%;
    top: 2%;
    font-size: 40px;
}
@keyframes plant5{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 77%;
    }
}

    @keyframes planthov{
        0%{
            left: 18.2%;
            opacity: 1;
    
        }
        100%{
            left: 17.9%;
            opacity: 1;
        }
    }
//Выбор Города//////////////////////////////////////////
    .tc__name{
        font-size: 45px;
    }
    .tc1 {
        height: 60px;
        top: 20%;
    }
    .tc1 a{
        top: 3%;
        font-size: 30px;
    }
    .tc1ch {
        height: 60px;
        top: 20%;
    }
    .tc1ch a{
        top: 3%;
        font-size: 30px;
    }
    .tc1ya {
        height: 60px;
        top: 20%;
    }
    .tc1ya a{
        top: 3%;
        font-size: 30px;
    }
    .tc2 {
        height: 60px;
        top: 31%;
    }
    .tc2 a{
        top: 3%;
        font-size: 30px;
    }
    .tc2ch {
        height: 60px;
        top: 31%;
    }
    .tc2ch a{
        top: 3%;
        font-size: 30px;
    }
    .tc3 {
        height: 60px;
        top: 42%;
    }
    .tc3 a{
        top: 3%;
        font-size: 30px;
    }
    .tc4 {
        width: 90%;
        height: 60px;
        top: 53%;
    }
    .tc4 a{
        top: 3%;
        font-size: 30px;
    }
    .tc5 {
        width: 95%;
        height: 60px;
        top: 64%;
    }
    .tc5 a{
        top: 3%;
        font-size: 30px;
    }
}
@media(max-width:1024px){
    .parallax__mount2 img{
        width: 1233px;
        height: 727px;
    }
    .parallax__mount1 {
        left: 20%;
    }
    .parallax__mount1 img{
        width: 1344px;
        height: 773px;
    }
//Холм левый/////////////////////////////////////
    .parallax__hill1 img{
        width: 1157px;
        height: 186px;
    }
//Холм правый/////////////////////////////////////
    .parallax__hill2{
        right: -10%;
    }
    .parallax__hill2 img{
        width: 879px;
        height: 258px;
    }
//Лес левый/////////////////////////////////////
    .parallax__forest1{
        left: 55%;
    }
    .parallax__forest1 img{
        width: 353px;
        height: 423px;
    }
//Лес правый/////////////////////////////////////
    .parallax__forest2{
        right: 0%;
    }
    .parallax__forest2 img{
        width: 440px;
        height: 275px;
    }
    @keyframes forest2{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -5%;
        }
        100%{
            opacity: 1;
            bottom: 9%;
        }
    }
//Доска основа/////////////////////////////////////
    .parallax__longboard{
        left: 14%;
    }
    .parallax__longboard img{
        width: 426px;
        height: 785px;
    }
    .parallax__longboard p{
        top: 5%;
        font-size: 40px;
    }
    @keyframes longbord{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -35%;
        }
        100%{
            opacity: 1;
            bottom: -5%;
        }
    }
//Доска Город1/////////////////////////////////////
    .parallax__plant1{
        left: 21.3%;
    }
    .parallax__plant1 img{
        width: 259px;
        height: 61px;
    }
    .parallax__plant1 a {
        left: -95%;
        top: 2%;
        font-size: 37px;
    }
    .parallax__plant1h{
        left: 21.3%;
        top: 27%;
    }
    .parallax__plant1h img{
        width: 259px;
        height: 61px;
    }
    .parallax__plant1h a {
        left: -95%;
        top: 2%;
        font-size: 37px;
    }
    @keyframes plant1{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 27%;
        }
    }
//Доска Город2/////////////////////////////////////
    .parallax__plant2{
        left: 21.3%;
    }
    .parallax__plant2 img{
        width: 259px;
        height: 61px;
    }
    .parallax__plant2 a {
        left: -95%;
        top: 2%;
        font-size: 36px;
    }
    .parallax__plant2h{
        left: 21.3%;
        top: 40%;
    }
    .parallax__plant2h img{
        width: 259px;
        height: 61px;
    }
    .parallax__plant2h a {
        left: -95%;
        top: 2%;
        font-size: 36px;
    }
    @keyframes plant2{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 40%;
        }
    }
//Доска Город3/////////////////////////////////////
    .parallax__plant3{
        left: 21.3%;
    }
    .parallax__plant3 img{
        width: 259px;
        height: 61px;
    }
    .parallax__plant3 a {
        left: -95%;
        top: 2%;
        font-size: 35px;
    }
    .parallax__plant3h{
        left: 21.3%;
        top: 53%;
    }
    .parallax__plant3h img{
        width: 259px;
        height: 61px;
    }
    .parallax__plant3h a {
        left: -95%;
        top: 2%;
        font-size: 35px;
    }
    @keyframes plant3{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 53%;
        }
    }
//Доска Город4/////////////////////////////////////
.parallax__plant4{
    left: 21.3%;
}
.parallax__plant4 img{
    width: 259px;
    height: 61px;
}
.parallax__plant4 a {
    left: -95%;
    top: 2%;
    font-size: 35px;
}
.parallax__plant4h{
    top: 65%;
    left: 21.3%;
}
.parallax__plant4h img{
    width: 259px;
    height: 61px;
}
.parallax__plant4h a {
    left: -95%;
    top: 2%;
    font-size: 35px;
}
@keyframes plant4{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 65%;
    }
}
//Доска Город5/////////////////////////////////////
.parallax__plant5{
    left: 21.3%;
}
.parallax__plant5 img{
    width: 259px;
    height: 61px;
}
.parallax__plant5 a {
    left: -95%;
    top: 2%;
    font-size: 35px;
}
.parallax__plant5h{
    top: 77%;
    left: 21.3%;
}
.parallax__plant5h img{
    width: 259px;
    height: 61px;
}
.parallax__plant5h a {
    left: -95%;
    top: 2%;
    font-size: 35px;
}
@keyframes plant5{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 77%;
    }
}
    @keyframes planthov{
        0%{
            left: 21.3%;
            opacity: 1;
    
        }
        100%{
            left: 21%;
            opacity: 1;
        }
    }
//Выбор Города//////////////////////////////////////////
    .tc__name{
        font-size: 35px;
    }
    .tc1 {
        height: 60px;
        top: 20%;
    }
    .tc1 a{
        top: 3%;
        font-size: 25px;
    }
    .tc1ya {
        height: 60px;
        top: 20%;
    }
    .tc1ya a{
        top: 3%;
        font-size: 25px;
    }
    .tc1ch {
        height: 60px;
        top: 20%;
    }
    .tc1ch a{
        top: 3%;
        font-size: 25px;
    }
    .tc2 {
        height: 60px;
        top: 31%;
    }
    .tc2 a{
        top: 3%;
        font-size: 25px;
    }
    .tc2ch {
        height: 60px;
        top: 31%;
    }
    .tc2ch a{
        top: 3%;
        font-size: 25px;
    }
    .tc3 {
        height: 60px;
        top: 42%;
    }
    .tc3 a{
        top: 3%;
        font-size: 25px;
    }
    .tc4 {
        width: 90%;
        height: 60px;
        top: 53%;
    }
    .tc4 a{
        top: 3%;
        font-size: 25px;
    }
    .tc5 {
        width: 95%;
        height: 60px;
        top: 64%;
    }
    .tc5 a{
        top: 3%;
        font-size: 25px;
    }
}

@media(max-width:850px){
    .parallax__mount2{
        left: 0%;
    }
    .parallax__mount2 img{
        width: 596px;
        height: 351px;
    }
    .parallax__mount1 {
        left: 50%;
    }
    .parallax__mount1 img{
        width: 596px;
        height: 351px;
    }
//Холм левый/////////////////////////////////////
    .parallax__hill1 img{
        width: 870px;
        height: 99px;
    }
//Холм правый/////////////////////////////////////
    .parallax__hill2{
        right: -10%;
    }
    .parallax__hill2 img{
        width: 574px;
        height: 119px;
    }
//Лес левый/////////////////////////////////////
    .parallax__forest1{
        left: 65%;
    }
    .parallax__forest1 img{
        width: 188px;
        height: 225px;
    }
//Лес правый/////////////////////////////////////
    .parallax__forest2{
        right: 0%;
    }
    .parallax__forest2 img{
        width: 277px;
        height: 161px;
    }
    @keyframes forest2{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -5%;
        }
        100%{
            opacity: 1;
            bottom: 0%;
        }
    }
//Доска основа/////////////////////////////////////
    .parallax__longboard{
        left: 18%;
    }
    .parallax__longboard img{
        width: 229px;
        height: 421px;
    }
    .parallax__longboard p{
        top: 6%;
        left: -120%;
        font-size: 20px;
        line-height: 25px;
    }

    @keyframes longbord{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -35%;
        }
        100%{
            opacity: 1;
            bottom: -15%;
        }
    }
//Доска Город1/////////////////////////////////////
    .parallax__plant1{
        left: 7%;
    }
    .parallax__plant1 img{
        width: 133px;
        height: 31px;
    }
    .parallax__plant1 span{
        width: 133px;
        height: 31px;
    }
    .parallax__plant1 a {
        width: 100%;
        left: 5%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant1h{
        left: 23%;
        top: 27%;
    }
    .parallax__plant1h img{
        width: 133px;
        height: 31px;
    }
    .parallax__plant1h span{
        width: 133px;
        height: 31px;
    }
    .parallax__plant1h a {
        width: 100%;
        left: 5%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant1{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 27%;
        }
    }
//Доска Город2/////////////////////////////////////
    .parallax__plant2{
        left: 7%;
    }
    .parallax__plant2 img{
        width: 133px;
        height: 31px;
    }
    .parallax__plant2 span{
        width: 133px;
        height: 31px;
    }
    .parallax__plant2 a {
        width: 100%;
        left: 5%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant2h{
        left: 7%;
        top: 40%;
    }
    .parallax__plant2h img{
        width: 133px;
        height: 31px;
    }
    .parallax__plant2h span{
        width: 133px;
        height: 31px;
    }
    .parallax__plant2h a {
        width: 100%;
        left: 5%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant2{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 40%;
        }
    }
//Доска Город3/////////////////////////////////////
    .parallax__plant3{
        left: 7%;
    }
    .parallax__plant3 img{
        width: 133px;
        height: 31px;
    }
    .parallax__plant3 span{
        width: 133px;
        height: 31px;
    }
    .parallax__plant3 a {
        width: 100%;
        left: 5%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant3h{
        left: 7%;
        top: 53%;
    }
    .parallax__plant3h img{
        width: 133px;
        height: 31px;
    }
    .parallax__plant3h span{
        width: 133px;
        height: 31px;
    }
    .parallax__plant3h a {
        width: 100%;
        left: 5%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant3{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 53%;
        }
    }
//Доска Город4/////////////////////////////////////
.parallax__plant4{
    left: 7%;
}
.parallax__plant4 img{
    width: 133px;
    height: 31px;
}
.parallax__plant4 span{
    width: 133px;
    height: 31px;
}
.parallax__plant4 a {
    width: 100%;
    left: 5%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
.parallax__plant4h{
    top: 65%;
    left: 7%;
}
.parallax__plant4h img{
    width: 133px;
    height: 31px;
}
.parallax__plant4h span{
    width: 133px;
    height: 31px;
}
.parallax__plant4h a {
    width: 100%;
    left: 5%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
@keyframes plant4{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 65%;
    }
}
//Доска Город5/////////////////////////////////////
.parallax__plant5{
    left: 7%;
}
.parallax__plant5 img{
    width: 133px;
    height: 31px;
}
.parallax__plant5 span{
    width: 133px;
    height: 31px;
}
.parallax__plant5 a {
    width: 100%;
    left: 5%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
.parallax__plant5h{
    top: 77%;
    left: 7%;
}
.parallax__plant5h img{
    width: 133px;
    height: 31px;
}
.parallax__plant5h span{
    width: 133px;
    height: 31px;
}
.parallax__plant5h a {
    width: 100%;
    left: 5%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
@keyframes plant5{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 77%;
    }
}
    @keyframes planthov{
        0%{
            left: 7%;
            opacity: 1;
    
        }
        100%{
            left: 6.7%;
            opacity: 1;
        }
    }
    .parallax__board{
        position: absolute;
        bottom: -2%;
        right: 2%;
        z-index: 1;
        opacity: 0;
        animation: board 2s ease 2.7s forwards;
    }
    .parallax__board span{
        width: 100%;
        left: 0%;
    }
    .parallax__board img{
        width: 177px;
        height: 253px;
    }
    .parallax__board a {
        top: 25%;
        left: 0%;
        width: 100%;
        font-size: 18px;
        line-height: 25px;
    }
//Выбор Города//////////////////////////////////////////
    .tc__fon{
        border-radius: 10px;
    }
    .tc__name{
        line-height: 60px;
        font-size: 20px;
    }
    .tc1 {
        height: 30px;
        top: 20%;
    }
    .tc1 a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc1ch {
        height: 30px;
        top: 20%;
    }
    .tc1ch a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc1ya {
        height: 30px;
        top: 20%;
    }
    .tc1ya a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc2 {
        height: 30px;
        top: 31%;
    }
    .tc2 a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc2ch {
        height: 30px;
        top: 31%;
    }
    .tc2ch a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc3 {
        height: 30px;
        top: 42%;
    }
    .tc3 a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc4 {
        width: 90%;
        height: 30px;
        top: 53%;
    }
    .tc4 a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc5 {
        width: 95%;
        height: 30px;
        top: 64%;
    }
    .tc5 a{
        top: 50%;
        line-height: 0px;
        font-size: 15px;
    }
    .tc__btn{
        font-size: 25px;
    }
    .tc__btn:hover{
        font-size: 26px;
    }
}
@media(max-width:400px){
    .parallax__mount2{
        left: -40%;
    }
    .parallax__mount2 img{
        width: 596px;
        height: 351px;
    }
    .parallax__mount1 {
        left: 15%;
    }
    .parallax__mount1 img{
        width: 596px;
        height: 351px;
    }
    @keyframes mount1{
        0%{
            opacity: 1;
            bottom: -100%;
        }
        50%{
            opacity: 1;
            bottom: 48%;
        }
        100%{
            opacity: 1;
            bottom: 40%;
        }
    }
//Холм левый/////////////////////////////////////
    .parallax__hill1 img{
        width: 901px;
        height: 409px;
    }
    @keyframes hill1{
        0%{
            opacity: 1;
            bottom: -100%;
        }
        50%{
            opacity: 1;
            bottom: 2%;
        }
        100%{
            opacity: 1;
            bottom: -17%;
        }
    }
//Холм правый/////////////////////////////////////
    .parallax__hill2{
        right: -10%;
    }
    .parallax__hill2 img{
        width: 501px;
        height: 165px;
    }
    @keyframes hill2{
        0%{
            opacity: 1;
            bottom: -100%;
        }
        50%{
            opacity: 1;
            bottom: 40%;
        }
        100%{
            opacity: 1;
            bottom: 25%;
        }
    }
//Лес левый/////////////////////////////////////
    .parallax__forest1{
        left: 90%;
    }
    .parallax__forest1 img{
        width: 188px;
        height: 225px;
    }
    @keyframes forest1{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -10%;
        }
        100%{
            opacity: 1;
            bottom: 20%;
        }
    }
//Лес правый/////////////////////////////////////
    .parallax__forest2{
        right: 0%;
    }
    .parallax__forest2 img{
        width: 251px;
        height: 135px;
    }
    @keyframes forest2{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -5%;
        }
        100%{
            opacity: 1;
            bottom: 34%;
        }
    }
//Доска основа/////////////////////////////////////
    .parallax__longboard{
        left: 38%;
    }
    .parallax__longboard img{
        width: 258px;
        height: 805px;
    }
    .parallax__longboard p{
        top: 7%;
        left: -100%;
        font-size: 28px;
        line-height: 33px;
    }

    @keyframes longbord{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -35%;
        }
        100%{
            opacity: 1;
            bottom: -8%;
        }
    }
//Доска Город1/////////////////////////////////////
    .parallax__plant1{
        left: 10%;
    }
    .parallax__plant1 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant1h{
        left: 10%;
        top: 27%;
    }
    .parallax__plant1h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant1{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 27%;
        }
    }
//Доска Город2/////////////////////////////////////
    .parallax__plant2{
        left: 10%;
    }
    .parallax__plant2 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant2h{
        left: 10%;
        top: 35%;
    }
    .parallax__plant2h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant2{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 35%;
        }
    }
//Доска Город3/////////////////////////////////////
    .parallax__plant3{
        left: 10%;
    }
    .parallax__plant3 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant3h{
        left: 10%;
        top: 43%;
    }
    .parallax__plant3h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant3{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 43%;
        }
    }
    //Доска Город4/////////////////////////////////////
.parallax__plant4{
    left: 10%;
}
.parallax__plant4 img{
    width: 156px;
    height: 36px;
}
.parallax__plant4 span{
    width: 156px;
    height: 36px;
}
.parallax__plant4 a {
    width: 100%;
    left: 20%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
.parallax__plant4h{
    top: 51%;
    left: 10%;
}
.parallax__plant4h img{
    width: 156px;
    height: 36px;
}
.parallax__plant4h span{
    width: 156px;
    height: 36px;
}
.parallax__plant4h a {
    width: 100%;
    left: 20%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
@keyframes plant4{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 51%;
    }
}
//Доска Город5/////////////////////////////////////
    .parallax__plant5{
        left: 10%;
    }
    .parallax__plant5 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant5h{
        top: 59%;
        left: 10%;
    }
    .parallax__plant5h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant5{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 59%;
        }
    }
    @keyframes planthov{
        0%{
            left: 10%;
            opacity: 1;
    
        }
        100%{
            left: 9%;
            opacity: 1;
        }
    }
    .parallax__board{
        position: absolute;
        bottom: -2%;
        right: 2%;
        z-index: 1;
        opacity: 0;
        animation: board 2s ease 2.7s forwards;
    }
    .parallax__board span{
        width: 100%;
        left: 0%;
    }
    .parallax__board img{
        width: 177px;
        height: 253px;
    }
    .parallax__board a {
        top: 25%;
        left: 0%;
        width: 100%;
        font-size: 18px;
        line-height: 25px;
    }
//Выбор Города//////////////////////////////////////////
    .tc__fon{
        border-radius: 10px;
    }
    .tc__name{
        line-height: 30px;
        font-size: 20px;
    }
    .tc1 {
        width: 60%;
        height: 30px;
        top: 15%;
    }
    .tc1 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc1ch {
        width: 60%;
        height: 30px;
        top: 15%;
    }
    .tc1ch a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc1ya {
        width: 60%;
        height: 30px;
        top: 15%;
    }
    .tc1ya a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc2 {
        width: 68%;
        height: 30px;
        top: 20%;
    }
    .tc2 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc2ch {
        width: 68%;
        height: 30px;
        top: 20%;
    }
    .tc2ch a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc3 {
        height: 30px;
        width: 75%;
        top: 25%;
    }
    .tc3 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc4 {
        width: 95%;
        height: 30px;
        top: 30%;
    }
    .tc4 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc5 {
        width: 98%;
        height: 30px;
        top: 35%;
    }
    .tc5 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc__btn{
        bottom: 2%;
        left: 20%;
        width: 60%;
    
        font-size: 20px;
        border-radius: 15px;
    
    }
    .tc__btn:hover{
        font-size: 26px;
        background-color: #39aad6;
        cursor: pointer;
    }
}
/////////////////////////////////////////////////////////////////////////////
@media(max-width:380px){
    .parallax__mount2{
        left: -40%;
    }
    .parallax__mount2 img{
        width: 596px;
        height: 351px;
    }
    .parallax__mount1 {
        left: 15%;
    }
    .parallax__mount1 img{
        width: 596px;
        height: 351px;
    }
    @keyframes mount1{
        0%{
            opacity: 1;
            bottom: -100%;
        }
        50%{
            opacity: 1;
            bottom: 48%;
        }
        100%{
            opacity: 1;
            bottom: 40%;
        }
    }
//Холм левый/////////////////////////////////////
    .parallax__hill1 img{
        width: 901px;
        height: 409px;
    }
    @keyframes hill1{
        0%{
            opacity: 1;
            bottom: -100%;
        }
        50%{
            opacity: 1;
            bottom: 2%;
        }
        100%{
            opacity: 1;
            bottom: -17%;
        }
    }
//Холм правый/////////////////////////////////////
    .parallax__hill2{
        right: -10%;
    }
    .parallax__hill2 img{
        width: 501px;
        height: 165px;
    }
    @keyframes hill2{
        0%{
            opacity: 1;
            bottom: -100%;
        }
        50%{
            opacity: 1;
            bottom: 40%;
        }
        100%{
            opacity: 1;
            bottom: 25%;
        }
    }
//Лес левый/////////////////////////////////////
    .parallax__forest1{
        left: 90%;
    }
    .parallax__forest1 img{
        width: 188px;
        height: 225px;
    }
    @keyframes forest1{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -10%;
        }
        100%{
            opacity: 1;
            bottom: 20%;
        }
    }
//Лес правый/////////////////////////////////////
    .parallax__forest2{
        right: 0%;
    }
    .parallax__forest2 img{
        width: 251px;
        height: 135px;
    }
    @keyframes forest2{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -5%;
        }
        100%{
            opacity: 1;
            bottom: 34%;
        }
    }
//Доска основа/////////////////////////////////////
    .parallax__longboard{
        left: 40%;
    }
    .parallax__longboard img{
        width: 258px;
        height: 805px;
    }
    .parallax__longboard p{
        top: 7%;
        left: -95%;
        font-size: 25px;
        line-height: 30px;
    }

    @keyframes longbord{
        0%{
            opacity: 1;
            bottom: 150%;
        }
        50%{
            opacity: 1;
            bottom: -35%;
        }
        100%{
            opacity: 1;
            bottom: -5%;
        }
    }
//Доска Город1/////////////////////////////////////
    .parallax__plant1{
        left: 10%;
    }
    .parallax__plant1 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant1h{
        left: 10%;
        top: 27%;
    }
    .parallax__plant1h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant1h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant1{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 27%;
        }
    }
//Доска Город2/////////////////////////////////////
    .parallax__plant2{
        left: 10%;
    }
    .parallax__plant2 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant2h{
        left: 10%;
        top: 35%;
    }
    .parallax__plant2h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant2h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant2{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 35%;
        }
    }
//Доска Город3/////////////////////////////////////
    .parallax__plant3{
        left: 10%;
    }
    .parallax__plant3 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant3h{
        left: 10%;
        top: 43%;
    }
    .parallax__plant3h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant3h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant3{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 43%;
        }
    }
    //Доска Город4/////////////////////////////////////
.parallax__plant4{
    left: 10%;
}
.parallax__plant4 img{
    width: 156px;
    height: 36px;
}
.parallax__plant4 span{
    width: 156px;
    height: 36px;
}
.parallax__plant4 a {
    width: 100%;
    left: 20%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
.parallax__plant4h{
    top: 51%;
    left: 10%;
}
.parallax__plant4h img{
    width: 156px;
    height: 36px;
}
.parallax__plant4h span{
    width: 156px;
    height: 36px;
}
.parallax__plant4h a {
    width: 100%;
    left: 20%;
    top: 45%;
    font-size: 15px;
    line-height: 0;
}
@keyframes plant4{
    0%{
        opacity: 0;
        top: 11%;
    }
    100%{
        opacity: 1;
        top: 51%;
    }
}
//Доска Город5/////////////////////////////////////
    .parallax__plant5{
        left: 10%;
    }
    .parallax__plant5 img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5 span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5 a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    .parallax__plant5h{
        top: 59%;
        left: 10%;
    }
    .parallax__plant5h img{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5h span{
        width: 156px;
        height: 36px;
    }
    .parallax__plant5h a {
        width: 100%;
        left: 20%;
        top: 45%;
        font-size: 15px;
        line-height: 0;
    }
    @keyframes plant5{
        0%{
            opacity: 0;
            top: 11%;
        }
        100%{
            opacity: 1;
            top: 59%;
        }
    }
    @keyframes planthov{
        0%{
            left: 10%;
            opacity: 1;
    
        }
        100%{
            left: 9%;
            opacity: 1;
        }
    }
    .parallax__board{
        position: absolute;
        bottom: -2%;
        right: 2%;
        z-index: 1;
        opacity: 0;
        animation: board 2s ease 2.7s forwards;
    }
    .parallax__board span{
        width: 100%;
        left: 0%;
    }
    .parallax__board img{
        width: 177px;
        height: 253px;
    }
    .parallax__board a {
        top: 25%;
        left: 0%;
        width: 100%;
        font-size: 18px;
        line-height: 25px;
    }
//Выбор Города//////////////////////////////////////////
    .tc__fon{
        border-radius: 10px;
    }
    .tc__name{
        line-height: 30px;
        font-size: 20px;
    }
    .tc1 {
        width: 60%;
        height: 30px;
        top: 15%;
    }
    .tc1 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc1ch {
        width: 60%;
        height: 30px;
        top: 15%;
    }
    .tc1ch a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc1ya {
        width: 60%;
        height: 30px;
        top: 15%;
    }
    .tc1ya a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc2 {
        width: 68%;
        height: 30px;
        top: 20%;
    }
    .tc2 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc2ch {
        width: 68%;
        height: 30px;
        top: 20%;
    }
    .tc2ch a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc3 {
        height: 30px;
        width: 75%;
        top: 25%;
    }
    .tc3 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc4 {
        width: 95%;
        height: 30px;
        top: 30%;
    }
    .tc4 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc5 {
        width: 98%;
        height: 30px;
        top: 35%;
    }
    .tc5 a{
        top: 50%;
        line-height: 0px;
        font-size: 10px;
    }
    .tc__btn{
        bottom: 2%;
        left: 20%;
        width: 60%;
    
        font-size: 20px;
        border-radius: 15px;
    
    }
    .tc__btn:hover{
        font-size: 26px;
        background-color: #39aad6;
        cursor: pointer;
    }
}