//Адаптив
@media(max-width:1440px){
    .parallax__list li{
        max-width: 1440px;
    }
    .parallax__sun img{
        width: 630px;
        height: 447px;
    }
    .parallax__hill1 img{
        width: 1255px;
        height: 186px;
    }
    .parallax__hill2 img{
        width: 687px;
        height: 170px;
    }
    .parallax__forest1 img{
        width: 340px;
        height: 330px;
    }
    .parallax__forest2 img{
        width: 330px;
        height: 227px;
    }
    .parallax__mount1 img{
        width: 1091px;
        height: 680px;
    }
    .parallax__mount2 img{
        width: 777px;
        height: 580px;
    }
    .parallax__mount3 img{
        width: 740px;
        height: 521px;
    }
    .parallax__board img{
        width: 245px;
        height: 350px;
    }
    .parallax__board a{
        position: absolute;
        margin: 0 auto;
        top: 28%;
        left: -125%;
        transform: rotate(0.5deg);
    
        text-align: center;
        justify-content: center;
        text-decoration: none;
        font-family: 'skalalend';
        font-size: 28px;
        line-height: 33px;
        color: #fff;
        text-transform: uppercase;
    }
    .parallax__logo span {
        display: inline-block;
        transform-origin: 50% 0;
        width:452px;
        height: 237px;
        transform: skew(15deg);
        background: rgba(255, 255, 255, 0.8);
    }
    .parallax__logo img {
        width: 322px;
        height: 212px;
    }

    @keyframes mount1{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 25%;
            opacity: 1;
        }
    }
    @keyframes mount2{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 35%;
            opacity: 1;
        }
    }
}
@media (max-width:1370px) {

    @keyframes mount1{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 8%;
            opacity: 1;
        }
    }
    @keyframes mount2{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 18%;
            opacity: 1;
        }
    }
}
@media (max-width:900px){
    .parallax__sun img{
        width: 246px;
        height: 175px;
    }
    .parallax__hill1 img{
        width: 727px;
        height: 105px;
    }
    .parallax__hill2 img{
        width: 611px;
        height: 115px;
    }
    .parallax__forest1 img{
        width: 160px;
        height: 155px;
    }
    .parallax__forest2 img{
        width: 193px;
        height: 133px;
    }
    .parallax__mount1 {
        left: 35%;
    }
    .parallax__mount1 img{
        width: 528px;
        height: 329px;
    }
    .parallax__mount2 {
        left: 80%;
    }
    .parallax__mount2 img{
        width: 396px;
        height: 295px;
    }
    .parallax__mount3 {
        left: 10%;
    }
    .parallax__mount3 img{
        width: 395px;
        height: 278px;
    }
    .parallax__board img{
        width: 158px;
        height: 226px;
    }
    .parallax__board a{
        top: 28%;
        left: -600%;
        transform: rotate(0.5deg);
        text-align: center;
        text-decoration: none;
        font-family: 'skalalend';
        font-size: 15px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
    }
    .parallax__logo span {
        width: 250px;
        height: 131px;
    }
    .parallax__logo img {
        width: 161px;
        height: 106px;
    }
    @keyframes sun {
    0%{
        left: -50%;
        opacity: 1;
    }
    50%{
        top: 5%;
        left: 20%;
    }
    100%{
        top: 0%;
        left: 10%;
        opacity: 1;
    }
}
    @keyframes mount3{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 30%;
            opacity: 1;
        }
    }
}
@media (max-width: 400px){
    .parallax__sun img{
        width: 355px;
        height: 252px;
    }
    .parallax__hill1 img{
        width: 563px;
        height: 139px;
    }
    .parallax__hill2 img{
        width: 465px;
        height: 115px;
    }
    .parallax__forest1{
        right: 5%;
    }
    .parallax__forest1 img{
        width: 210px;
        height: 203px;
    }
    @keyframes forest1{
        0%{
            bottom: 210%;
            opacity: 1;
        }
        50%{
            bottom: -7%;
        }
        100%{
            bottom: 10%;
            opacity: 1;
        }
    }
    .parallax__forest2{
        left: 25%;
    }
    .parallax__forest2 img{
        width: 208px;
        height: 144px;
    }
    @keyframes forest2{
        0%{
            bottom: 210%;
            opacity: 1;
        }
        50%{
            bottom: -12%;
        }
        100%{
            bottom: 8%;
            opacity: 1;
        }
    }
    .parallax__mount1{
        left: 16%;
    }
    .parallax__mount1 img{
        width: 528px;
        height: 330px;
    }
    .parallax__mount2 {
        left: 80%;
    }
    .parallax__mount2 img{
        width: 396px;
        height: 295px;
    }
    .parallax__mount3 {
        left: -5%;
    }
    .parallax__mount3 img{
        width: 395px;
        height: 278px;
    }
    .parallax__board img{
        width: 187px;
        height: 268px;
    }
    .parallax__board a{
        position: absolute;
        top: 28%;
        left: -260%;
        transform: rotate(0.5deg);
    
        text-align: center;
        justify-content: center;
        text-decoration: none;
        font-family: 'skalalend';
        font-size: 20px;
        line-height: 25px;
        color: #fff;
        text-transform: uppercase;
    }
    .parallax__logo span {
        display: inline-block;
        transform-origin: 50% 0;
        width:452px;
        height: 237px;
        transform: skew(15deg);
        background: rgba(255, 255, 255, 0.8);
    }
    .parallax__logo img {
        width: 222px;
        height: 152px;

        left: 30%;
    }
    @keyframes mount1{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 45%;
            opacity: 1;
        }
    }
    @keyframes mount2{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 50%;
            opacity: 1;
        }
    }
    @keyframes mount3{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 55%;
            opacity: 1;
        }
    }
    @keyframes hill1{
        0%{
            bottom: -50%;
            opacity: 1;
    
        }
        70%{
            bottom: 0.00001%;   
        }
        100%{
            bottom: -2%;
            opacity: 1;
    
        }
    }
    @keyframes hill2{
        0%{
            bottom: -50%;
            opacity: 1;
    
        }
        70%{
            bottom: 0.00001%;   
        }
        100%{
            bottom: 5%;
            opacity: 1;
    
        }
    }
    }
@media (max-width:380px) {
    .parallax__sun img{
        width: 355px;
        height: 252px;
    }
    .parallax__hill1 img{
        width: 563px;
        height: 139px;
    }
    .parallax__hill2 img{
        width: 465px;
        height: 115px;
    }
    .parallax__forest1 img{
        width: 260px;
        height: 253px;
    }
    .parallax__forest2 img{
        width: 208px;
        height: 144px;
    }
    .parallax__mount1 img{
        width: 528px;
        height: 330px;
    }
    .parallax__mount2 {
        left: 80%;
    }
    .parallax__mount2 img{
        width: 396px;
        height: 295px;
    }
    .parallax__mount3 {
        left: -5%;
    }
    .parallax__mount3 img{
        width: 395px;
        height: 278px;
    }
    .parallax__board img{
        width: 187px;
        height: 268px;
    }
    .parallax__board a{
        position: absolute;
        top: 28%;
        left: -260%;
        transform: rotate(0.5deg);
    
        text-align: center;
        justify-content: center;
        text-decoration: none;
        font-family: 'skalalend';
        font-size: 22px;
        line-height: 27px;
        color: #fff;
        text-transform: uppercase;
    }
    .parallax__logo span {
        display: inline-block;
        transform-origin: 50% 0;
        width:452px;
        height: 237px;
        transform: skew(15deg);
        background: rgba(255, 255, 255, 0.8);
    }
    .parallax__logo img {
        width: 222px;
        height: 152px;

        left: 30%;
    }
    @keyframes mount1{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 50%;
            opacity: 1;
        }
    }
    @keyframes mount2{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 60%;
            opacity: 1;
        }
    }
    @keyframes mount3{
        0%{
            top: 150%;
            opacity: 1;
        }
        50%{
            top: 0%;
        }
        100%{
            top: 65%;
            opacity: 1;
        }
    }
    @keyframes hill1{
        0%{
            bottom: -50%;
            opacity: 1;
    
        }
        70%{
            bottom: 0.00001%;   
        }
        100%{
            bottom: -2%;
            opacity: 1;
    
        }
    }
    @keyframes hill2{
        0%{
            bottom: -50%;
            opacity: 1;
    
        }
        70%{
            bottom: 0.00001%;   
        }
        100%{
            bottom: 5%;
            opacity: 1;
    
        }
    }
}